<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Hypertension Prediction </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
   <header>
        <img src="{{ url_for('static', filename='img/header-main.jpg') }}" alt="Header Image">
        <h1>شركة هوميتكس الهندسية لتكنولوجيا المعلومات</h1>
        <h3>معكم نحو تكنولوجيا أفضل</h3>
    </header>
    <h1 class="project_name">Homedical Assistant</h1>
    <div id="mySidebar" class="sidebar">
        <button class="closebtn" onclick="closeNav()">&times;</button>

        <a href="{{ url_for('index') }}">
            <i class="fas fa-home"></i> Home
        </a>

        <a href="page1">
            <i class="fas fa-vial"></i> Blood Glucose
        </a>
         <a href="page2">
             <i class="fas fa-heartbeat"></i> Heart Disease
         </a>

         <a href="page3">
             <i class="fas fa-brain"></i> Parkinson Disease
         </a>
        <a href="{{ url_for('page4') }}">
            <i class="fas fa-pills"></i> Thyroid Disease
        </a>
        <a href="{{ url_for('page5') }}">
           <i class="fas fa-virus"></i> Hepatitis Disease
        </a>
       <a href="{{ url_for('page6') }}">
           <i class="fas fa-poll"></i> Depression Test
        </a>

        

    </div>


    <button class="openbtn" onclick="openNav()">☰</button>
    <div class="main-content">

        <form id="knn-form" action="{{ url_for('page11') }}" method="post">
                    <h1>Hypertension Prediction</h1>

            <div class="form-row">
                <div>
                    <label for="age">Age:</label>
                    <input type="number" id="age" name="Age" required>
                </div>
                <div>
                    <label for="sex">Sex:</label>
                    <select id="sex" name="Sex" required>
                        <option value="1">Male</option>
                        <option value="0">Female</option>
                    </select>
                </div>
                <div>
                    <label for="cp">Cp:</label>
                    <input type="number"  id="cp" name="cp" required>
                </div>
                <div>
                    <label for="trestbps">Trestbps:</label>
                    <input type="number" id="trestbps" name="Trestbps" required>
                </div>
                <div>
                    <label for="chol">Chol:</label>
                    <input type="number" id="chol" name="Chol" required>
                </div>
                <div>
                    <label for="fbs">Fbs:</label>
                    <input type="number" id="fbs" name="Fbs" required>
                </div>
                <div>
                    <label for="restecg">Restecg:</label>
                    <input type="number"  id="restecg" name="Restecg" required>
                </div>
                <div>
                    <label for="thalach">Thalach:</label>
                    <input type="number" id="thalach" name="Thalach" required>
                </div>
                <div>
                    <label for="exang">Exang:</label>
                    <input type="number" id="exang" name="Exang" required>
                </div>
                <div>
                    <label for="oldpeak">Oldpeak:</label>
                    <input type="number" step="0.1" id="oldpeak" name="Oldpeak" required>
                </div>
                <div>
                    <label for="slope">Slope:</label>
                    <input type="number" id="slope" name="Slope" required>
                </div>
                <div>
                    <label for="ca">Ca:</label>
                    <input type="number" id="ca" name="Ca" required>
                </div>
                <div>
                    <label for="thal">Thal:</label>
                    <input type="number" id="thal" name="Thal" required>
                </div>
            </div>
            <div class="form-submit">
                <button type="submit">Make Prediction</button>
            </div>
        </form>
    </div>
    <div class="result-row">
        <div id="predictionResult" class="result-box"> The Result </div>
    </div>
    <footer>
        <p>Created by Maha Alzamar <i class="fas fa-heart"></i></p>
    </footer>
    <script>
        function openNav() {
            document.getElementById("mySidebar").classList.add("open");
            document.querySelector(".openbtn").classList.add("hidden");
        }

        function closeNav() {
            document.getElementById("mySidebar").classList.remove("open");
            document.querySelector(".openbtn").classList.remove("hidden");
        }






        document.getElementById('knn-form').onsubmit = async function(event) {
            event.preventDefault();

            const formData = new FormData(event.target);
            const formObject = Object.fromEntries(formData.entries());

            const knnResultBox = document.getElementById('predictionResult');

            try {
                const response = await fetch('{{ url_for("page11") }}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(formObject),
                });

                const result = await response.json();
                the_result = result.Hypertension
                if (result.Hypertension === 0) {
                    knnResultBox.textContent = 'Dont have Hypertension';
                    knnResultBox.className = 'result-box low-risk';
                }if (result.Hypertension === 1) {
                    knnResultBox.textContent = 'Have Hypertension';
                    knnResultBox.className = 'result-box low2-risk';
                }
            } catch (error) {
                console.error('Error:', error);
                predictionResult.textContent = 'Error Occurred';
                predictionResult.className = 'result-box high-risk';
            }
        };
    </script>
</body>
</html>
