<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asthma Prediction</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <img
        src="{{ url_for('static', filename='img/header-main.jpg') }}"
        alt="Header Image"
      />
      <h1>‘—ﬂ… ÂÊ„Ì ﬂ” «·Â‰œ”Ì… · ﬂ‰Ê·ÊÃÌ« «·„⁄·Ê„« </h1>
      <h3>„⁄ﬂ„ ‰ÕÊ  ﬂ‰Ê·ÊÃÌ« √›÷·</h3>
    </header>
    <h1 class="project_name">Homedical Assistant</h1>
    <div id="mySidebar" class="sidebar">
      <button class="closebtn" onclick="closeNav()">&times;</button>

      <a href="{{ url_for('index') }}"> <i class="fas fa-home"></i> Home </a>

      <a href="page1"> <i class="fas fa-vial"></i> Blood Glucose </a>
      <a href="page2"> <i class="fas fa-heartbeat"></i> Heart Disease </a>

      <a href="page3"> <i class="fas fa-brain"></i> Parkinson Disease </a>
      <a href="{{ url_for('page4') }}">
        <i class="fas fa-pills"></i> Thyroid Disease
      </a>
      <a href="{{ url_for('page5') }}">
        <i class="fas fa-virus"></i> Hepatitis Disease
      </a>
      <a href="{{ url_for('page6') }}">
        <i class="fas fa-poll"></i> Depression Test
      </a>
    <a href="{{ url_for('page14') }}">
        <i class="fas fa-poll"></i> Anemia Test
      </a>
    </div>

    <button class="openbtn" onclick="openNav()"> </button>
    <div class="main-content">
      <form id="knn-form" action="{{ url_for('page14') }}" method="post">
        <h1>Anemia Prediction</h1>

        <div class="form-row">
        
            <label for="Gender">Gender:</label>
            <select id="Gender" name="Gender" required>
              <option value="1">Male</option>
              <option value="0">Female</option>
            </select>
          </div>
          <div>
            <label for="Hemoglobin">Hemoglobin:</label>
            <input type="number" id="Hemoglobin" name="Hemoglobin" required />
          </div>
          <div>
            <label for="MCH">MCH:</label>
            <input type="number" id="Smoking" name="Smoking" required />
          </div>
          <div>
            <label for="MCHC">MCHC:</label>
            <input
              type="number"
              id="MCHC"
              name="MCHC"
              step="0.1"
              required
            />
          </div>
          <div>
            <label for="MCV">MCV:</label>
            <input type="number" id="MCV" name="MCV" step="0.1" required />
          </div>
          
        <div class="form-submit">
          <button type="submit">Make Prediction</button>
        </div>
      </form>
    </div>
    <div class="result-row">
      <div id="predictionResult" class="result-box">The Result</div>
    </div>
    <footer>
      <p>Created by Rana Nasser<i class="ane a anemia"></i></p>
    </footer>
    <script>
      function openNav() {
        document.getElementById("mySidebar").classList.add("open");
        document.querySelector(".openbtn").classList.add("hidden");
      }

      function closeNav() {
        document.getElementById("mySidebar").classList.remove("open");
        document.querySelector(".openbtn").classList.remove("hidden");
      }

      document.getElementById("knn-form").onsubmit = async function (event) {
        event.preventDefault();

        const formData = new FormData(event.target);
        const formObject = Object.fromEntries(formData.entries());

        const knnResultBox = document.getElementById("predictionResult");

        try {
         const response = await fetch('{{ url_for("page14") }}', {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(formObject),
          });

          const result = await response.json();
          the_result = result.Anemia;
          if (result.Anemia === 0) {
            knnResultBox.textContent = "Dont have Anemia";
            knnResultBox.className = "result-box low-risk";
          }
          if (result.Anemia === 1) {
            knnResultBox.textContent = "Have Anemia";
            knnResultBox.className = "result-box low2-risk";
          }
        } catch (error) {
          console.error("Error:", error);
          predictionResult.textContent = "Error Occurred";
          predictionResult.className = "result-box high-risk";
        }
      };
    </script>
  </body>
</html>